[tool.poetry]
name = "flyswot"
version = "0.3.4"
description = "flyswot"
authors = ["Daniel van Strien <daniel.van-strien@bl.uk>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/davanstrien/flyswot"
repository = "https://github.com/davanstrien/flyswot"
documentation = "https://flyswot.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]


[tool.poetry.urls]
Changelog = "https://github.com/davanstrien/flyswot/releases"

[tool.poetry.dependencies]
python = "^3.8.0"
rich = ">=10.1,<13.0"
typer = ">=0.3.2,<0.5.0"
toolz = "^0.11.1"
numpy = "^1.20"
Pillow = ">=8,<10"
typing_extensions = ">=3.10,<5.0"
huggingface-hub = ">=0.2.1,<0.6.0"
transformers = {extras = ["torch"], version = "^4.16.2"}

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
coverage = {extras = ["toml"], version = "^6.3"}
safety = "^1.10.3"
mypy = "^0.950"
xdoctest = {extras = ["colors"], version = "^1.0.0"}
sphinx = "^4.5.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.19.0"
flake8 = "^4.0.1"
black = "^22.3"
flake8-bandit = "^3.0.0"
flake8-bugbear = "^22.4.25"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.2.5"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^3.1.0"
pre-commit-hooks = "^4.2.0"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^4.0.3"
Pygments = "^2.12.0"
hypothesis = "^6.46.1"
memory-profiler = "^0.60.0"
pytest-datafiles = "^2.0"
onnxruntime = "^1.11.1"
furo = "^2022.4.7"
myst-parser = "^0.17.2"
cogapp = "^3.3.0"

[tool.poetry.scripts]
flyswot = "flyswot.cli:main"


[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["flyswot"]

[tool.coverage.report]
show_missing = true
fail_under = 90


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
