[tool.poetry]
name = "flyswot"
version = "0.3.1"
description = "flyswot"
authors = ["Daniel van Strien <daniel.van-strien@bl.uk>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/davanstrien/flyswot"
repository = "https://github.com/davanstrien/flyswot"
documentation = "https://flyswot.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]


[tool.poetry.urls]
Changelog = "https://github.com/davanstrien/flyswot/releases"

[tool.poetry.dependencies]
python = "^3.7.0"
rich = ">=10.1,<13.0"
typer = ">=0.3.2,<0.5.0"
validators = "^0.18.2"
toolz = "^0.11.1"
numpy = "^1.20.2"
onnxruntime = "^1.7.0"
Pillow = ">=8,<10"
typing_extensions = ">=3.10,<5.0"
huggingface-hub = ">=0.2.1,<0.5.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
coverage = {extras = ["toml"], version = "^6.3"}
safety = "^1.10.3"
mypy = "^0.942"
xdoctest = {extras = ["colors"], version = "^1.0.0"}
sphinx = "^4.3.2"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.17.0"
flake8 = "^4.0.1"
black = "^22.3"
flake8-bandit = "^3.0.0"
flake8-bugbear = "^22.1.11"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.2.5"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^3.0.1"
pre-commit-hooks = "^4.1.0"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^3.1.0"
Pygments = "^2.11.2"
hypothesis = "^6.39.6"
memory-profiler = "^0.60.0"
pytest-datafiles = "^2.0"

[tool.poetry.scripts]
flyswot = "flyswot.cli:main"


[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["flyswot"]

[tool.coverage.report]
show_missing = true
fail_under = 90


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
